.map {
  position: relative;
  border-radius: 10px;
  background-image: url("../img/bg-map.png");
  background-repeat: no-repeat;
}

.map__iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}
