.section {
  padding: 35px 0;
}

@media (min-width: @tablet) {
  .section {
    padding: 50px 20px;
  }
}

@media (min-width: @desktop) {
  .section {
    position: relative;
    &--pattern-center::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30%;
      display: block;
      width: 40%;
      height: 95%;
      background-color: @primary-light;
      opacity: @opacity-default;
    }
  }
}

@media (min-width: @desktop) {
  .section {
    padding: 80px 30px 40px;
  }
}
