.social {
  .reset-list();
  display: flex;
}

.social__item {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: @secondary;
  &--vk {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: @laptop) {
  .social__icon {
    cursor: pointer;
    &:hover {
      fill: @white;
      //opacity: @opacity-default;
      transition: @transition-default;
    }
  }
}
